<div class="container">
  <div class="col" style="text-align: center;">
    <h1>{{title}}</h1>
  </div>
  <br />
  <button class="btn btn-success" type="button" [routerLink]="['/form']">Add user</button>
  <br /><br />
  <table class="table" border="1">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope=col>Edit</th>
        <th scope=col>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td> <button type="button" name="button" class="btn btn-warning"
            [routerLink]="['/form/', user.id]">Edit</button></td>
        <td> <button type="button" name="button" class="btn btn-danger" (click)="delete(user)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" id="logout" (click)="logout()">Logout</button>
</div>